<div class="card my-5 pb-5 shadow-effect text-theme">
  <div class="card-body">
    <h4 class="my-3">Comments (15,256)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATE - SEP 20, 2021</small>

      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae esse voluptate, aperiam maxime, quam
        optio accusantium quae ipsa quisquam quas beatae accusamus tempora voluptas, asperiores necessitatibus magni
        adipisci. Numquam beatae, facere atque modi explicabo ad accusantium aliquam delectus officiis laudantium!
        Similique tenetur enim, a obcaecati atque eum minus? Optio soluta mollitia esse, dignissimos nesciunt placeat
        nobis similique debitis! Assumenda at vel facere enim, laudantium incidunt aliquid blanditiis. Eveniet, nostrum
        aliquid voluptas repudiandae delectus pariatur nemo fuga tenetur sit! Voluptatibus!
      </div>

      <a href="#" class="mt-1">Replay</a>
      <a href="#" class="mt-1 ms-3">View Replay</a>

      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATE - SEP 20, 2021</small>

      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae esse voluptate, aperiam maxime, quam
        optio accusantium quae ipsa quisquam quas beatae accusamus tempora voluptas, asperiores necessitatibus magni
        adipisci. Numquam beatae, facere atque modi explicabo ad accusantium aliquam delectus officiis laudantium!
        Similique tenetur enim, a obcaecati atque eum minus? Optio soluta mollitia esse, dignissimos nesciunt placeat
        nobis similique debitis! Assumenda at vel facere enim, laudantium incidunt aliquid blanditiis. Eveniet, nostrum
        aliquid voluptas repudiandae delectus pariatur nemo fuga tenetur sit! Voluptatibus!
      </div>

      <a href="#" class="mt-1">Replay</a>
      <a href="#" class="mt-1 ms-3">View Replay</a>

      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATE - SEP 20, 2021</small>

      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae esse voluptate, aperiam maxime, quam
        optio accusantium quae ipsa quisquam quas beatae accusamus tempora voluptas, asperiores necessitatibus magni
        adipisci. Numquam beatae, facere atque modi explicabo ad accusantium aliquam delectus officiis laudantium!
        Similique tenetur enim, a obcaecati atque eum minus? Optio soluta mollitia esse, dignissimos nesciunt placeat
        nobis similique debitis! Assumenda at vel facere enim, laudantium incidunt aliquid blanditiis. Eveniet, nostrum
        aliquid voluptas repudiandae delectus pariatur nemo fuga tenetur sit! Voluptatibus!
      </div>

      <a href="#" class="mt-1">Replay</a>
      <a href="#" class="mt-1 ms-3">View Replay</a>

      <hr>
    </div>
  </div>
</div>