<section class="mt-5">
  <div class="container my-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>

    <div class="mt-4 p-5 bg-secondary-theme text-primary-theme">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto rerum consequuntur omnis, dignissimos inventore,
        quam, doloremque nobis voluptate mollitia sit facere tenetur! Inventore laboriosam veritatis fugit sit ipsa
        molestias voluptate perferendis fugiat sunt reiciendis minima odit quasi id laudantium totam similique deleniti
        modi magnam, facilis laborum. Distinctio laboriosam aliquid fuga laborum porro alias, quis, perspiciatis aliquam
        obcaecati consectetur cum doloremque consequuntur, animi beatae quasi? Quis quam dolores dolorem perspiciatis
        cum neque saepe minus similique, recusandae reiciendis odio aliquam enim quidem.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto rerum consequuntur omnis, dignissimos inventore,
        quam, doloremque nobis voluptate mollitia sit facere tenetur! Inventore laboriosam veritatis fugit sit ipsa
        molestias voluptate perferendis fugiat sunt reiciendis minima odit quasi id laudantium totam similique deleniti
        modi magnam, facilis laborum. Distinctio laboriosam aliquid fuga laborum porro alias, quis, perspiciatis aliquam
        obcaecati consectetur cum doloremque consequuntur, animi beatae quasi? Quis quam dolores dolorem perspiciatis
        cum neque saepe minus similique, recusandae reiciendis odio aliquam enim quidem.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto rerum consequuntur omnis, dignissimos inventore,
        quam, doloremque nobis voluptate mollitia sit facere tenetur! Inventore laboriosam veritatis fugit sit ipsa
        molestias voluptate perferendis fugiat sunt reiciendis minima odit quasi id laudantium totam similique deleniti
        modi magnam, facilis laborum. Distinctio laboriosam aliquid fuga laborum porro alias, quis, perspiciatis aliquam
        obcaecati consectetur cum doloremque consequuntur, animi beatae quasi? Quis quam dolores dolorem perspiciatis
        cum neque saepe minus similique, recusandae reiciendis odio aliquam enim quidem.
      </p>

      <div class="text-center">
        <button type="button" class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>