<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect text-theme">
        <img
          src="https://plus.unsplash.com/premium_photo-1669833445528-7fd1932810fc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" class="card-img-top img-fluid">

        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2">Views - 100,256</small>
          <small class="bg-light text-warning text-center ms-2">LAST UPDATE - SEP 20, 2021</small>

          <h1 class="my-3">Lorem ipsum dolor sit amet.</h1>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, assumenda dolorum! Sint, laborum quas?
            Maxime deleniti impedit ipsa eligendi odio veritatis, deserunt quis porro eos quae quo nam corrupti fugit
            provident nobis dolores vel perspiciatis reiciendis, fugiat nisi harum ducimus totam necessitatibus omnis?
            Incidunt quaerat illum quos earum recusandae nostrum eum omnis facere! Accusamus quidem quibusdam ipsam eum
            accusantium, repudiandae illum odit autem delectus veritatis at nulla praesentium deserunt voluptas
            consectetur ratione veniam aspernatur vel voluptatibus eaque suscipit? Corporis voluptatibus, numquam et
            expedita eligendi nesciunt eaque nobis! Placeat asperiores exercitationem ducimus a autem necessitatibus
            doloribus numquam vitae commodi, quos veniam vel minima enim hic pariatur magni cum nostrum nemo ipsam.
            Officia aliquam corporis autem necessitatibus asperiores, distinctio a! Dolore similique velit eum.
            Accusamus omnis commodi et aliquam quos error iste tenetur, sunt autem ducimus ullam sequi libero deleniti
            iure eos natus explicabo tempore aut, amet perferendis consequuntur necessitatibus sed. Laboriosam.</p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</div>